@CHARSET "ISO-8859-1";

 ul.briask-iss {position:relative;list-style:none;list-style-image:none;margin:0px auto;padding:0px;overflow:hidden;border:none;background:none;}
 ul.briask-iss li {list-style:none;margin:0px;padding:0px;border:none;background:none;}
 ul.briask-iss li a {margin:0px;padding:0px;border:none;background:none;}
 ul.briask-iss li a img {display:none;position:absolute;padding:0px;top:0;left:0;border:none;background:none;}
 ul.briask-iss li img {display:none;position:absolute;top:0;padding:0px;left:0;border:none;background:none;}
/*
     FILE ARCHIVED ON 04:45:20 Dec 31, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:01:47 May 06, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.747
  exclusion.robots: 0.181
  exclusion.robots.policy: 0.172
  cdx.remote: 0.058
  esindex: 0.012
  LoadShardBlock: 107.094 (3)
  PetaboxLoader3.datanode: 211.772 (4)
  PetaboxLoader3.resolve: 83.678 (2)
  load_resource: 203.373
*/